<% provide(:title, 'About') %>

<div class="jumbotron">
        <h1>About Farmanager Project</h1>
        <p class="lead">This is the first revision in my software engineering project at the University of Regina. Excuse any errors!</p>
        <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up for Revision 1</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Record Yearly Expenses.</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Track your grain inventory.</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Track seeded acres.</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>View historical data.</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Monitor your farming operation 24/7.</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Keep maintenance records.</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

