<% provide(:title, 'About') %>

<div class="jumbotron">
        <h1>About FARManager Project</h1>
        <p class="lead">Our technology is designed to allow farmers to digitize and more easily manage their entire farming operation. FARManager presents an overall picture of your farming operation. Try it out now! </p>
        <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up Now!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Money Management.</h4>
          <p>FARManager allows you to try out various tax scenarios and plan for each field's profit.</p>

          <h4>Track your grain inventory.</h4>
          <p>Easily see how much inventory you have left on your farm.</p>

          <h4>Collaborate with other farmers.</h4>
          <p>Use our forums to talk to farmers from around the world on important topics.</p>
        </div>

        <div class="col-lg-6">
          <h4>View historical data.</h4>
          <p>Easily look back at your data from last year or a decade ago.</p>

          <h4>Monitor your farming operation 24/7.</h4>
          <p>Easily access your "digital" farm from anywhere you have an internet connection!</p>

          <h4>Keep maintenance records.</h4>
          <p>Never miss an oil change or dealer appointment again.</p>
        </div>
      </div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading">Meet FARManager's Team: <span class="text-muted">Erin Cardiff</span></h2>
    <p class="lead">This is a University of Regina final Engineering project for Software Systems Engineering. FARManager has evolved out of a requirement from my clients,Cardiff Farms, to streamline farming operations. All attempts have been made to first satisfy my client's requirements while trying to make a generic product. </p>
  </div>
  <!--<div class="col-md-5">-->
    <!--<%= link_to image_tag("wheat.png", class:"img-responsive featurette-image", alt: "Field Statistics")  %>-->
  <!--</div>-->
</div>

