<% provide(:title, 'FAQ') %>
<h3 align="center"><strong>Frequently Asked Questions</strong></h3>
<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <p class="text-primary"><b>Why FARManager?</p></b>
            <p>Make your farm smarter. Increase the bottom line. Get rid of cumbersome paper records. In a digital age it is important to use emerging technologies to our advantage and this is no different in the realm of farming. FARManager's easy to use interface allows you to sign up and start managing your farming operation right away!</p>
          </div>
          
</div>
</div>
 <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <p class="text-primary"><b>I'm having problems with FARManager, who do I contact?</p></b>
            <p>Please contact farmagerproject@gmail.com for any FARManager related problems or general inquiries.</p>
          </div>
          
</div>
</div>
 <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <p class="text-primary"><b>How do I sign up?</p></b>
            <p>Click on the Sign up now link on the home page or use the button below!</p>
            <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up Now!</a></p>
          </div>
          
</div>
</div>

<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-12">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
      <p class="text-primary"><b>FARManager is a final engineering project- what does that mean?</b></p>
      <p>FARManager is a final software systems engineering project demonstrating the skills and knowledge associated with an engineering degree. The project is presented on an annual project day held at the University of Regina and marked by faculty members. </p>

    </div>

  </div>
</div>