<div class="center hero-unit">
  <h1></h1>

  <h2>
    This is the home page for the
    <a href="http://127.0.0.1:3000/">Farmager</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>