<% provide(:title, 'Maps') %>

<div id="wrapper">
	

	<%= render "shared/sidebar"%>

	<div id="page-content-wrapper">


		<div class="page-content inset">
			<div class="row">

				<div class="col-md-12">



<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>



<div class="spacer"></div>

<div style='padding-left: 100px; width: 800px;'>
	<h1 align="center">Field Maps</h1>
  <div id="one_marker" style='width: 800px; height: 400px;'>
  	
  	
  	
  	
  </div>
</div>
<br/>
<div id='sidebar_container' style="padding-left:400px">
</div>	





				</div>
			</div>
		</div>
	</div>
	







<script type="text/javascript">
function createSidebarLi(json){
  return ("<li><a>" + json.name + "</a></li>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
  	
    handler.getMap().setZoom(16);
    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    
    google.maps.event.trigger(marker.getServiceObject(), 'click');
    
   
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('#sidebar_container');
    bindLiToMarker($li, json.marker);
  });
};

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'one_marker'}}, function(){
	
	
  var json_array = [
    { lat: 51.223096, lng: -104.862234, name: 'NW 15-26-21 (Hilly Grandads)', infowindow: "NW 15-26-21" },
    { lat: 51.237568, lng: -104.838998, name: 'NW 23-26-21 (Home Quarter) ', infowindow: "NW 23-26-21" },
    { lat: 51.223096, lng: -104.850759, name: 'NE 15-26-21 (Bushy Quarter) ', infowindow: "NE 15-26-21" },
    { lat: 51.26676, lng: -104.804271, name: 'NE 36-26-21 (Johnstons North)', infowindow: "NE 36-26-21" },
    { lat: 51.25945, lng: -104.804267, name: 'SE 36-26-21 (Johnstons South)', infowindow: "SE 36-26-21" },
    { lat: 51.237565, lng: -104.850754, name: 'NE 22-26-21 (North Jims)', infowindow: "NE 22-26-21" },
    { lat: 51.230329, lng: -104.862231, name: 'SW 22-26-21 (Grandads Home)', infowindow: "SW 22-26-21" },
    { lat: 51.230328, lng: -104.850755, name: 'SE 22-26-21 (South Jims)', infowindow: "SE 22-26-21" },
    { lat: 51.23033, lng: -104.874001, name: 'SE 21-26-21 (West Grandads)', infowindow: "SE 21-26-21" },
    
  ];


  var markers = handler.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });

  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>

