

<h3><b>User Profile</b></h3>

<br/>

<% provide(:title, @user.name) %>

			<h4><b>User : </b> <%= @user.name %>
			<br/>
			<b>Email : </b> <%= @user.email %>
			<br/>
			<b>Last Log In : </b> <%= @user.updated_at%>
			<br/><br/><br/>
			<%= link_to "Reset Password", edit_user_path(current_user), class:"btn btn-default btn-primary" %>
		
			</h4>






