
<h2>
  <i></i><%="Welcome "%><%= current_user.name %>!</i>
</h2>
<span>
  <!-- <%= link_to "view my profile", current_user %> -->
</span>
<span>
  <%= pluralize(current_user.fields.count, "Field") %>
</span>