<h2>Weather</h2>
		<iframe marginheight="0" marginwidth="0" name="wxButtonFrame" id="wxButtonFrame" height="168" src="http://btn.weather.ca/weatherbuttons/template7.php?placeCode=CASK0261&category0=Cities&containerWidth=180&btnNo=&backgroundColor=blue&multipleCity=0&citySearch=1&celsiusF=C" align="top" frameborder="0" width="180" scrolling="no" allowTransparency="true"></iframe>