<% provide(:title, 'Profit Planner') %>
<div id="wrapper">


	<%= render "shared/sidebar"%>
    <div id="page-content-wrapper">
    <div class="content-header">
      <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      <h3>Profit Planner</h3>

    </div>
	<div id="page-content-wrapper">

		<div class="page-content inset">
			<div class="row">

				<div class="col-md-12">


                <div class="alert alert-info" align="center">
                  <p>Use FARManager's Profit Planner to input values for variable expenses, market prices and yields for various financial scenarios.
       </p>
                </div>

                <br/><br/>
                <div style="padding-left:220px">
                <h4><strong>Please select from the following profit planners:</strong></h4>
</div>
<div style="padding-left: 350px">
  <br/><br/>

                <a class="btn btn-default btn-warning" href="/canolaprofitplanner" role="button">Canola Profit Planner</a> <br/><br/>

                <a class="btn btn-default btn-success" href="/peaprofitplanner" role="button">Pea Profit Planner</a> <br/><br/>

                <a class="btn btn-default btn-info" href="/wheatprofitplanner" role="button">Wheat Profit Planner</a> <br/><br/>
</div>




<br/>
                  <br/>
                  <br/>
                  <br/>
                  <br/>



                  <div class="alert alert-success" align="center">
                    <p>Reproduced with permission from the Government of Saskatchewan. For more information please go to:</p>
                    <%= link_to "Ministry of Agriculture", "http://www.agriculture.gov.sk.ca/Default.aspx?DN=7736bac3-10c3-43b1-a4af-7d4536f3dba2", :target => "_blank" %>
                  </div>
						</div>

					</div>
				</div>
			</div>

		