
<html>
    <head>
        <title>Javascript Conditionals</title>
    </head>
    <body>
 
    
    
    <h1>This is an if statement</h1>
    <script>
    x = 5;
    if(x > 2){
        alert(+x+'  is greater');
    }
    </script>
  <br />
  <br />
 
 
 

 
</body>
</html>