<div class="spacer"></div>

<div class="row">

	<%= render 'shared/sidebar'%>

	<div class="col-md-8">
		<a class="btn btn-default btn-primary" href="/fields/new" role="button">Add Fields</a>
		<h3>Recent Field Additions</h3>
		<%= pluralize(current_user.fields.count, "Field") %>

	</div>
</div>

