<div class="bigger_spacer"></div>
  
  
  <%= (collection_select :variety,:variety,current_user.fields.select(:crop_type).uniq, :crop_type, :crop_type)%>
<div class="alert alert-info" align="center">
    <p><%= link_to "Back to Fields", fields_path %></p>
</div>
