<footer class="footer">
  <small>
    <a href="http://127.0.0.1:3000/">Farmager</a>
   by Erin Cardiff
  </small>
  <nav>
    <ul>
      <li><%= link_to "Copyright 2013",   '#' %></li>
    </ul>
  </nav>
</footer>

 